; Registry
!define regkey "Software\${company}\${product_name}"
!define uninstkey "Software\Microsoft\Windows\CurrentVersion\Uninstall\${product_name}"
!define company_install "$PROGRAMFILES\${company}"
!define company_startmenu "$SMPROGRAMS\${company}"
!define startmenu "${'${company_startmenu}'}\${product_name}"
!define uninstaller "uninstall.exe"

;------------------------------------------------------------------------------
; General configuration
;------------------------------------------------------------------------------

XPStyle on
ShowInstDetails show
ShowUninstDetails hide
AutoCloseWindow false
RequestExecutionLevel highest

Name "${product_name}"
Caption "${product_name}"

Icon "${resources_folder}/${icon}"

SetDateSave on
SetDatablockOptimize on
CRCCheck on
SilentInstall normal

InstallDir "${'${company_install}'}\${product_name}"
InstallDirRegKey HKLM "${'${regkey}'}" ""

LicenseText "License"
LicenseData "${resources_folder}/${license}"

; Set the text which prompts the user to enter the installation directory
DirText "Choose the install directory"

UninstallText "This will uninstall ${product_name}."
UninstallIcon "${resources_folder}/${icon}"

;------------------------------------------------------------------------------
; Pages
;------------------------------------------------------------------------------

Page license

; Page components
Page directory
Page instfiles

UninstPage uninstConfirm
UninstPage instfiles

;------------------------------------------------------------------------------
; Installer background
;------------------------------------------------------------------------------

!ifdef background

	Function .onGUIInit
		; extract background BMP into temp plugin directory
		InitPluginsDir
		File /oname=$PLUGINSDIR\1.bmp "${resources_folder}/${background}"

		BgImage::SetBg /NOUNLOAD /FILLSCREEN $PLUGINSDIR\1.bmp
		BgImage::Redraw /NOUNLOAD
	FunctionEnd

	Function .onGUIEnd
		; Destroy must not have /NOUNLOAD so NSIS will be able to unload and
		; delete BgImage before it exits
		BgImage::Destroy
	FunctionEnd

!endif

;------------------------------------------------------------------------------
; Install section
;------------------------------------------------------------------------------

Section "Install ${product_name}"

	WriteRegStr HKLM "${'${regkey}'}" "Install_Dir" "$INSTDIR"
	WriteRegStr HKLM "${'${uninstkey}'}" "DisplayName" "${product_name} (remove only)"
	WriteRegStr HKLM "${'${uninstkey}'}" "UninstallString" '"$INSTDIR\${'${uninstaller}'}"'
	WriteRegStr HKCR "${product_name}\DefaultIcon" "" "$INSTDIR\${icon}"

	; Main binaries
	SetOutPath $INSTDIR
	File "${resources_folder}\${executable}"
        % for lib in libraries:
          File "${resources_folder}/${lib}"
        % endfor

	File "${resources_folder}\${license}"
	File "${resources_folder}\${release_notes}"
	File "${resources_folder}\${documentation}"
	File "${resources_folder}\${icon}"

	WriteUninstaller "${'${uninstaller}'}"

SectionEnd


;------------------------------------------------------------------------------
; Create shortcuts section
;------------------------------------------------------------------------------

Section
	CreateDirectory "${'${startmenu}'}"
	SetOutPath $INSTDIR ; for working directory

	CreateShortCut "${'${startmenu}'}\${product_name}.lnk" "$INSTDIR\${executable}" "" "$INSTDIR\${icon}"
	CreateShortCut "${'${startmenu}'}\Release Notes.lnk" "$INSTDIR\${release_notes}"
	CreateShortCut "${'${startmenu}'}\Documentation.lnk" "$INSTDIR\${documentation}"
	CreateShortCut "${'${startmenu}'}\Uninstall.lnk" "$INSTDIR\${'${uninstaller}'}" "" "$INSTDIR\${icon}"

	; WriteINIStr "${'${startmenu}'}\WebSite.url" "InternetShortcut" "URL" ${website}
	CreateShortCut "${'${startmenu}'}\WebSite.lnk" "${website}" "URL"
	; Run the exectuable.
        Exec '"$WINDIR\explorer.exe" "$INSTDIR\${executable}"'
SectionEnd

;------------------------------------------------------------------------------
; Uninstall section
;------------------------------------------------------------------------------

Section "Uninstall"
        DELETE "$INSTDIR\${'${uninstaller}'}"

	DeleteRegKey HKLM "${'${uninstkey}'}"
	DeleteRegKey HKLM "${'${regkey}'}"

        Delete "${'${startmenu}'}\${product_name}.lnk"
        Delete "${'${startmenu}'}\Release Notes.lnk"
        Delete "${'${startmenu}'}\Documentation.lnk"
        Delete "${'${startmenu}'}\Uninstall.lnk"
        Delete "${'${startmenu}'}\WebSite.lnk"
	RMDir "${'${startmenu}'}"
	RMDir "${'${company_startmenu}'}"

	Delete "$INSTDIR\${license}"
        Delete "$INSTDIR\${release_notes}"
	Delete "$INSTDIR\${icon}"
	Delete "$INSTDIR\${documentation}"

	Delete "$INSTDIR\${executable}"
        % for lib in libraries:
        Delete "$INSTDIR\${lib}"
        % endfor

	RMDir "$INSTDIR"
        RMDir "${'${company_install}'}"
SectionEnd



