<?xml version="1.0" encoding="UTF-8"?>
<updater>
  <version>${version}</version>
  <title>Update ${version}.</title>
  <rich_description>
  <html>
  <h3 style="font-family: Helvetica, Arial">This version includes:</h3>
  <ul style="font-family: Helvetica, Arial">
    <li>Transfer speed improvement.</li>
    <li>Reduction of the login time.</li>
    <li>Reporting problem in app.</li>
    <li>Crash reporting system.</li>
  </ul>
  <h4 style="font-family: Helvetica, Arial">Version 0.8.*:</h4>
  <ul style="font-family: Helvetica, Arial">
    <li>Stability improvements.</li>
    <li>More fluid interface.</li>
    <li>New updater/installer.</li>
    <li>You can now drag and drop on the send view.</li>
    <li>Send to users on Mac or Windows.</li>
  </ul>
  <h5>For easy access, set the Infinit icon always visible.</h5>
  </html>
  </rich_description>
  <description>
    This version includes transfer speed improvement, especialy for local networks and a crash reporting system.
    Version 0.8.*:
    This version includes stability improvements, more fluid interface and a new updater/installer.
    You can now drag and drop on the send view and send to users on Mac or Windows.
    For easy access, set the Infinit icon always visible.
  </description>
  <link>http://download.infinit.io/windows/${architecture}/update.xml</link>
  <url>http://download.infinit.io/windows/${architecture}/Infinit_Installer.exe</url>
  <size>${size}</size>
</updater>
