<?xml version="1.0" encoding="UTF-8"?>
<updater>
  <version>${version}</version>
  <title>Update ${version}.</title>
  <rich_description>
  <html>
  <h3 style="font-family: Helvetica, Arial">This version includes:</h3>
  <ul style="font-family: Helvetica, Arial">
    <li>HotKeys to upload screenshots have been added.</li>
    <li>Settings have been improved.</li>
    <li>Proxy support is now available on the login view.</li>
    <li>Facebook login window doesn't show a white screen anymore.</li>
    <li>The send view now allows you to pick multiple email addresses.</li>
    <li>Various have been fixed.</li>
  </ul>
  <h4 style="font-family: Helvetica, Arial">Previous versions included:</h4>
  <ul style="font-family: Helvetica, Arial">
    <li>UPnP support.</li>
    <li>Mirror small files to be send to prevent their deletion.</li>
    <li>New send view: Find your friend easily.</li>
    <li>Improvements in transfer speed and stability.</li>
    <li>Many UI improvements.</li>
    <li>Transfer speed improvement.</li>
    <li>Reduction of the login time.</li>
    <li>Reporting problem in app.</li>
  </ul>
  <h5>For easy access, set the Infinit icon always visible.</h5>
  </html>
  </rich_description>
  <description>
    This version includes:
    Stability improvements, UPnP support and file mirroring.
    Previous versions:
    Link generation and a new send view. Transfer stability has been greatly increased, more fluid interface and a new updater/installer.
    You can now drag and drop on the send view and send to users on Mac or Windows.
    For easy access, set the Infinit icon always visible.
  </description>
  <link>http://hephaestus.infinit.io/windows/${architecture}/update.xml</link>
  <url>http://hephaestus.infinit.io/windows/${architecture}/Infinit_Installer.exe</url>
  <size>${size}</size>
  <hash>${hash}</hash>
</updater>
