<?xml version="1.0" encoding="UTF-8"?>
<updater>
  <version>${version}</version>
  <title>Update ${version}.</title>
  <rich_description>
  <html>
  <h3 style="font-family: Helvetica, Arial">This version includes:</h3>
  <ul style="font-family: Helvetica, Arial">
    <li>Share with links: Create links and share them with people even if they don't have Infinit.</li>
    <li>New send view: Find your friend easily.</li>
    <li>Improvements in transfer speed and stability.</li>
  </ul>
  <h4 style="font-family: Helvetica, Arial">Previous versions included:</h4>
  <ul style="font-family: Helvetica, Arial">
    <li>Many UI improvements.</li>
    <li>Improved login time.</li>
    <li>Transfer bug fixes and stability improvements.</li>
    <li>Transfer speed improvement.</li>
    <li>Reduction of the login time.</li>
    <li>Reporting problem in app.</li>
  </ul>
  <h5>For easy access, set the Infinit icon always visible.</h5>
  </html>
  </rich_description>
  <description>
    This version includes link generation and a new send view. Transfer stability has been greatly increased.
    Version 0.8.*:
    This version includes stability improvements, more fluid interface and a new updater/installer.
    You can now drag and drop on the send view and send to users on Mac or Windows.
    For easy access, set the Infinit icon always visible.
  </description>
  <link>http://download.infinit.io/windows/${architecture}/update.xml</link>
  <url>http://download.infinit.io/windows/${architecture}/Infinit_Installer.exe</url>
  <size>${size}</size>
</updater>
