// Microsoft Visual C++ generated resource script.
//
// #include "resources.hh"

100 BITMAP "../../fist-gui-qt/resources/contextual/infinit.bmp"
101 ICON "../../fist-gui-qt/resources/contextual/infinit.ico"
